# ESP32 .env example (used when flashing or testing on host)
API_URL=http://192.168.1.100:8000/solve
API_TOKEN=replace_with_secure_token
WIFI_SSID=YourSSID
WIFI_PASSWORD=YourWifiPassword
BLE_NAME=CALC-ESP32
BLE_SERVICE_UUID=12345678-1234-5678-1234-56789abcdef0
BLE_EXPR_CHAR_UUID=12345678-1234-5678-1234-56789abcdef1
BLE_RESULT_CHAR_UUID=12345678-1234-5678-1234-56789abcdef2
DISPLAY_WIDTH=128
DISPLAY_HEIGHT=64
KEY_DEBOUNCE_MS=50
