# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual env
.venv/
venv/

# Environment
.env
.env.*
!.env.example
!.env.esp32.example

# Config
./firmware_esp32/config.py

# IDE
.vscode/
.idea/
build/
.apk

# OS
.DS_Store
Thumbs.db

# File temporanei
temp/
.temp

# File di sviluppo
todo-list.txt
todo-list.md
